{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>VI Private Limited</title>
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel = "icon" href ="{% static 'img/icon/icon.png' %}" type = "image/x-icon"> 
              
</head>

<body>
    <div class="container">
    <div class="banner">
        VI Private Limited
    </div>
    <div class="menu">
        <div class="menuitem"><a href="/home">Home</a></div> 
        <div class="menuitem"><a href="/product">Products</a></div> 
        <div class="menuitem"><a href="/people">People</a></div>
        <div class="menuitem"><a href="/contact">Contact Us</a></div> 
    </div><div class="content">
    {% block content %}    
    {% endblock  %}
    </div>
    <div class="footer">
        Copyright © 2021 VI Private Limited, Developed by Vincent isaac jeyaraj.
    </div>
    </div>
</body>

</html>