{% extends "website/base.html" %}

{% block content %}
<P class="free">

</P>
<div class="contain">
    <div class="image">
        <img src="/static/img/dail.png" alt="contact" width="50" height="50">
    </div>
    <div class="text">
        <h1>+044 40405667/50504667</h1>
    </div>
</div>
<div class="contain">
    <div class="image">
        <img src="/static/img/mail.png" alt="contact" width="50" height="50">
    </div>
    <div class="text">
        <h1>VIpvt.ltd@gmail.com</h1>
    </div>
</div>    
<div class="contain">
    <div class="image">
        <img src="/static/img/address.png" alt="contact" width="50" height="50">
    </div>
    <div class="text">
        <h1>New york City, 145,Redmond,Washington, United States</h1>
    </div>
</div>

    {% endblock  %}