{% extends "website/base.html" %}

{% block content %}
    <h1 id="Ex">Executives</h1>
        <div class="row">
        {% for people in peoples %}
            <div class="column">
                <img src="{{ people.photo.url }}" alt="executive image" width="250" height="200">
                <div class="membername">Name:{{ people.Membername }}</div>
                <div class="designation">Designation:{{ people.Designation }}</div>
            </div>
            {% endfor %}
        </div>
{% endblock  %}