{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">    
    <h1 style="text-align:center;"><u>Our Premium Products</u></h1>
    <div class="productitems">
    {% for product in products  %}
        <div class="productitem"> 
            <div class="itemimage">
            <img src="{{ product.photo.url }}" alt="product image">
            </div>
            <div class="Itemname">Name:{{ product.Itemname }}</div>
            <div class="Product price">Price:{{ product.Price }}</div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock  %}